{erl_first_files, ["src/elli_handler.erl"]}.
{erl_opts, [debug_info]}.
{deps, [
  {lhttpc, "1.2.6", {git, "git://github.com/esl/lhttpc.git", "master"}},
  {meck, "0.7.1", {git, "git://github.com/eproxus/meck.git", {tag, "0.7.1"}}},
  {syslog, "1.0", {git, "git://github.com/knutin/erlang_syslog.git", "master"}}
]}.
